<nav class="navbar">
  <div class="container"> 
      <% if user_signed_in? %>
      <ul class = "nav">
        <li class ="navbar-button" >  <%= link_to 'Your recipes ',recipes_path %></li>
          <li class="navbar-button"><%= link_to 'Food list', foods_path%></li>
          <li class ="navbar-button"><%= link_to 'Public recipes',  public_recipes_path %></li>
        <li class ="navbar-button">  <%= link_to 'General shopping list', general_shopping_list_path %> </li>
        <li class ="navbar-button"> <%= button_to 'Sign out', destroy_user_session_path, method: :delete%></li>
      <% else %>
      <ul class= "nav">
        <li class ="navbar-button">  <%= link_to 'Register', new_user_registration_path %></li>
         <li class ="navbar-button"> <%= link_to 'Sign in', new_user_session_path%></li>
         </ul>
      <% end %>
 
  </div>
</nav>