<tr>
  <td><%= food.name %></td>
  <td><%= food.measurement_unit %></td>
  <td><%= food.quantity %></td>
  <td><%= number_to_currency(food.price, unit: '$', precision: 0) %></td>
  <td><%= button_to 'Delete', food_path(food.id), method: :delete, class: "btn btn-danger btn-sm" %></td>
</tr>
